{% extends 'main/base.html' %}

{% block content %}

    <main class="row">

            <div class="col-12 mb-5">
                <a class="bnt btn-outline-primary" href="{% url 'blog:create' %}">Добавить блог</a>
            </div>

            {% for object in object_list %}
            <div class="row text-center col-4">
                <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">{{ object|title }} </h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ object.body }}</h2>
                        <p>
                            {{ object.body }}
                        </p>
                        <div class="d-flex justify-content-between align-items-centor">
                            <div class="bnt-group">
                                <a class="bnt btn-sm btn-outline-secondary" href="{% url 'blog:view' object.pk %}">Посмотреть</a>
                                <a class="bnt btn-sm btn-outline-secondary" href="#">Редактировать</a>
                                <a class="bnt btn-sm btn-outline-secondary" href="#">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-2"></div>
        </div>

    </main>

{% endblock %}
