{% extends 'main/base.html' %}

{% block content %}
<a class="bnt btn-sm btn-outline-secondary" href="{% url 'blog:list' %}">Назад</a>
    <main class="row">

            <div class="row text-center col-4">
                <div class="card rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <img src="/media/{{ object.image_preview }}">
                        <h4 class="my-0 fw-normal">{{ object|title }} </h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ object.body }}</h2>
                        <p>
                            {{ object.body }}
                        </p>
                        <div class="d-flex justify-content-between align-items-centor">
                            <div class="bnt-group">
                                <a class="bnt btn-sm btn-outline-secondary" href="{% url 'blog:edit' object.pk %}">Редактировать</a>
                                <a class="bnt btn-sm btn-outline-secondary" href="#">Удалить</a>
                            </div>
                        </div>
                        <div class="card-footer">
                            Просмотры: {{ object.views_count }}
                        </div>
                    </div>
                </div>
            </div>

    </main>

{% endblock %}
