{% extends 'main/base.html' %}

{% block content %}

<a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:index' %}">Назад</a>

<div class="row text-center col-4">
    <div class="card rounded-3 shadow-sm">
        <div class="card-header py-3">
            <img src="/media/{{ object.image_preview }}">
            <h4 class="my-0 fw-normal">{{ object|title }} </h4>
        </div>
        <div class="card-body">
           <h2 class="card-title pricing-card-title">{{ object.Description }}</h2>
            <p>
                Цена: {{ object.price_per_purchase }} рублей.
            </p>
            <button type="button" class="btn btn-success">Купить</button>
        </div>
    </div>
</div>
<p class="d-inline-flex gap-1 mt-5">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Как купить?</a>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Как доставить?</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Какая гарантия?</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        Немного содержимого-заполнителя для первого компонента сворачивания в этом примере с несколькими схемами сворачивания. По умолчанию эта панель скрыта, но открывается, когда пользователь активирует соответствующий триггер.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        Немного содержимого-заполнителя для второго компонента сворачивания в этом примере с несколькими схемами сворачивания. По умолчанию эта панель скрыта, но открывается, когда пользователь активирует соответствующий триггер.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body">
                        Немного содержимого-заполнителя для третьего компонента сворачивания в этом примере с несколькими схемами сворачивания. По умолчанию эта панель скрыта, но открывается, когда пользователь активирует соответствующий триггер.
                    </div>
                </div>
            </div>
        </div>

{% endblock %}