{% extends 'main/base.html' %}

{% block content %}

<div class="col-12 mb-5">

    {% if perms.main.add_product %}
        <a class="bnt btn-outline-primary" href="{% url 'main:create_product' %}">Добавить продукт</a>
    {% endif %}

</div>

<main class="row">

{% for object in object_list|slice:100 %}

<div class="row text-center col-4">
    <div class="card rounded-3 shadow-sm">

        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object|title }} </h4>
        </div>

        <div class="card-body">
            <h2 class="card-title pricing-card-title">{{ object.Description }}</h2>

            <div>
                <p>Название версии: {{ object.name_version }}</p>
                <p>Номер версии: {{ object.version_number }}</p>
            </div>

             <p>
                Цена: {{ object.price_per_purchase }} рублей.
            </p>

            <div class="d-flex justify-content-between align-items-centor">
                <div class="bnt-group">
                    <a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:view_product' object.pk %}">Посмотреть</a>

                    {% if not object or object.trader == user or user.is_superuser %}
                        <a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:edit_product' object.pk %}">Редактировать</a>
                    {% endif %}

                    {% if perms.main.delete_product %}
                        <a class="bnt btn-sm btn-outline-secondary" href="{% url 'main:delete_product' object.pk %}">Удалить</a>
                    {% endif %}

                    <button type="button" class="btn btn-success">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

</main>

<p class="d-inline-flex gap-1 mt-5">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Как купить?</a>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Как доставить?</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Какая гарантия?</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                        Немного содержимого-заполнителя для первого компонента сворачивания в этом примере с несколькими схемами сворачивания. По умолчанию эта панель скрыта, но открывается, когда пользователь активирует соответствующий триггер.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card card-body">
                        Немного содержимого-заполнителя для второго компонента сворачивания в этом примере с несколькими схемами сворачивания. По умолчанию эта панель скрыта, но открывается, когда пользователь активирует соответствующий триггер.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                    <div class="card card-body">
                        Немного содержимого-заполнителя для третьего компонента сворачивания в этом примере с несколькими схемами сворачивания. По умолчанию эта панель скрыта, но открывается, когда пользователь активирует соответствующий триггер.
                    </div>
                </div>
            </div>
        </div>

{% endblock %}